.conteudo-chat {
    flex-direction: row;
    width: 100%;
    flex: 1;
    padding: 10px 20px;
    color: #555;
    overflow: hidden;
}
.box-chat {
    flex: 6;
    flex-direction: column;
    padding: 0 20px;   
    overflow: hidden;
}
.box-usuarios {
    flex: 1;
    flex-direction: column;
}
.box-usuarios>.label {
    margin: 0px;
    margin-bottom: 10px;
    text-align: center;
}
.lista-usuarios {
    flex-direction: column;
    padding: 0 20px 0 0;
    overflow: auto;
}

@media screen and (max-width: 900px) {
    .conteudo-chat {
        flex-direction: column;
        padding: 10px;
    }
    .box-chat {
        flex: 1;
        border-left: none;
        padding: 0 0px;
    }
    .box-usuarios {
        flex: none;
        height: 80px;        
    }
    .lista-usuarios {
        flex-direction: row;
        align-items: center;
        padding: 0 0px;
    }
    .box-usuarios>.label {
        display: none;
    }
}